#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.stats-container {
  display: flex;
  justify-content: space-around; /* Align items side by side */
  margin-top: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.stat-label {
  color: #333;
}

.stat-value {
  margin-top: 2px;
  color: #555;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 100%;
  max-height: 90vh;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1),
    0 4px 8px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3),
    0 12px 24px rgba(255, 255, 255, 0.3);
}

/* Media Queries for Responsiveness */

/* For screens smaller than 600px (mobile devices) */
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* For screens between 600px and 900px (tablets and small screens) */
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  }
}

/* For screens larger than 900px (desktops and larger screens) */
@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
  }
}
